body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.oringe {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.asad {
    width: 50%;
    padding-left: 2%;
}

.asad img {
    width: 80%;
}

.rana-buttom {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}
.top{
    background-image:url(./images/top-banner.png) ;
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experiences-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding:20px;
    border-radius: 15px;
    box-shadow: 10px 10px 40px rgb(154, 152, 152);
}
#Full{
    border-left: 7px solid tomato;
}
#Baby{
    border-left: 7px solid #4756ff;
}
.experiences-item>p{
    text-align: justify;
}
footer p{
    text-align: center;
}